<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Question</key>
		<string>How does the schedule operate?</string>
		<key>Answer</key>
		<string>The schedule has 2 modes of operate: manual or automatic. Automatic causes the days to advance with each new day. Manual mode requires that you advance the day.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>How do I setup a schedule?</string>
		<key>Answer</key>
		<string>First you need to have setup all the events that you want to include in the exercise schedule. Then using setup section you create a schedule.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>What does Schedule Repeat count do?</string>
		<key>Answer</key>
		<string>Schedule Repeat count is use to define the number of times the complete schedule will be repeated. For example: setting the number of weeks to 3 and the repeat count to 4 would result in the schedule repeating 4 time for a total of 12 weeks.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Can I setup my own exercise event?</string>
		<key>Answer</key>
		<string>Yes. </string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Is the data stored on the cloud?</string>
		<key>Answer</key>
		<string>No, maybe in a future release.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Can  I edii recorded data?</string>
		<key>Answer</key>
		<string>Yes. Select the bootom button labeled &apos;Edit Data&apos;. You can then edit all recorded events and schedules.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Can I edit event setup data?</string>
		<key>Answer</key>
		<string>Yes. Select the bottom button labed &apos;Edit Data&apos;, then selected the desired event. The first item listed in the table is the event setup data.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>What is the event setup data?</string>
		<key>Answer</key>
		<string>The event setup data enables you to define starting parameters for the event. For ex: 50 lbs and 8 reps. Then when you select the event the starting parameters will be automatically configured as your starting point.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Why is the weight amount automatically being set to the last amount?</string>
		<key>Answer</key>
		<string>The first recorded weight amount is always used as the starting amount for the next workout.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>What can I see in history?</string>
		<key>Answer</key>
		<string>Can see a list sorted by date of the recorded events. Selecting the Chart button will display a graph of the recorded data.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>How does the history chart work?</string>
		<key>Answer</key>
		<string>The history chart contains buttons that enable you to select the parameter (if applicable) and a time period.</string>
	</dict>
	<dict/>
</array>
</plist>
